ACAfiling/ACAfiling/Service References/ACASvc/IRS-ACABulkRequestTransmitterMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:us:gov:treasury:irs:msg:irsacabulkrequesttransmitter" xmlns:air7.0="urn:us:gov:treasury:irs:ext:aca:air:7.0" xmlns:irs="urn:us:gov:treasury:irs:common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:us:gov:treasury:irs:msg:irsacabulkrequesttransmitter" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../COMMON/IRS-CAC.xsd" namespace="urn:us:gov:treasury:irs:common" />
  <xsd:import schemaLocation="../EXT/IRS-EXT-ACA-AIR-7.0.xsd" namespace="urn:us:gov:treasury:irs:ext:aca:air:7.0" />
  <xsd:annotation>
    <xsd:documentation>
      <Component xmlns="urn:us:gov:treasury:irs:msg:irsacabulkrequesttransmitter">
        <DictionaryEntryNm>HHS IRS Message - ACA (Affordable Care Act) Bulk Request Transmitter</DictionaryEntryNm>
        <VersionNum>1.0</VersionNum>
        <VersionEffectiveBeginDt>2014-04-23</VersionEffectiveBeginDt>
        <VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
        <DescriptionTxt>Message payload for the SOA service for a bulk request transmitter</DescriptionTxt>
      </Component>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="ACABulkRequestTransmitter" type="ACABulkRequestTransmitterType" />
  <xsd:element name="ACABulkRequestTransmitterResponse" type="ACABulkRequestTransmitterResponseType" />
  <xsd:complexType name="ACABulkRequestTransmitterType">
    <xsd:annotation>
      <xsd:documentation>
        <Component xmlns="urn:us:gov:treasury:irs:msg:irsacabulkrequesttransmitter">
          <DictionaryEntryNm>ACA (Affordable Care Act) Bulk Request Transmitter Type</DictionaryEntryNm>
          <MajorVersionNum>1</MajorVersionNum>
          <MinorVersionNum>0</MinorVersionNum>
          <VersionEffectiveBeginDt>2014-04-23</VersionEffectiveBeginDt>
          <VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
          <DescriptionTxt>Message for the SOA service for a bulk request from transmitter</DescriptionTxt>
        </Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="irs:BulkExchangeFile" />
    </xsd:sequence>
    <xsd:attribute fixed="1.0" name="version" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="ACABulkRequestTransmitterResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <Component xmlns="urn:us:gov:treasury:irs:msg:irsacabulkrequesttransmitter">
          <DictionaryEntryNm>ACA (Affordable Care Act) Bulk Request Transmitter Response Type</DictionaryEntryNm>
          <MajorVersionNum>1</MajorVersionNum>
          <MinorVersionNum>0</MinorVersionNum>
          <VersionEffectiveBeginDt>2014-04-23</VersionEffectiveBeginDt>
          <VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
          <DescriptionTxt>Message for the SOA service for a bulk request from transmitter</DescriptionTxt>
        </Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="air7.0:TransmissionStatusCd" />
      <xsd:element ref="irs:ReceiptId" />
      <xsd:element minOccurs="0" ref="irs:ErrorMessageDetail" />
    </xsd:sequence>
    <xsd:attribute fixed="1.0" name="version" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>