ACAfiling_Web/ACAfiling_Web/SvcRefs/ACASvc/IRS-ACABusinessHeaderMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:us:gov:treasury:irs:msg:acabusinessheader" xmlns:air7.0="urn:us:gov:treasury:irs:ext:aca:air:7.0" xmlns:irs="urn:us:gov:treasury:irs:common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:us:gov:treasury:irs:msg:acabusinessheader" version="1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../EXT/IRS-EXT-ACA-AIR-7.0.xsd" namespace="urn:us:gov:treasury:irs:ext:aca:air:7.0" />
  <xsd:annotation>
    <xsd:documentation>
      <Component xmlns="urn:us:gov:treasury:irs:msg:acabusinessheader">
        <DictionaryEntryNm>HHS IRS Message - ACA (Affordable Care Act) Business Header</DictionaryEntryNm>
        <MajorVersionNum>1</MajorVersionNum>
        <MinorVersionNum>1</MinorVersionNum>
        <VersionEffectiveBeginDt>2012-10-25</VersionEffectiveBeginDt>
        <VersionDescriptionTxt>Removed root type definitions and added the reference to the root element declarations</VersionDescriptionTxt>
        <DescriptionTxt>Message payload for the SOA service obtaining information used for the ACA Business header</DescriptionTxt>
      </Component>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="ACABusinessHeader" type="air7.0:ACABulkBusinessHeaderRequestType">
    <xsd:annotation>
      <xsd:documentation>
        <Component xmlns="urn:us:gov:treasury:irs:msg:acabusinessheader">
          <DictionaryEntryNm>ACA (Affordable Care Act) Business Header Detail Type</DictionaryEntryNm>
          <MajorVersionNum>1</MajorVersionNum>
          <MinorVersionNum>0</MinorVersionNum>
          <VersionEffectiveBeginDt>2012-10-25</VersionEffectiveBeginDt>
          <VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
          <DescriptionTxt>Message payload for the SOA service that obtains information for the ACA business header detail</DescriptionTxt>
        </Component>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ACABusinessHeaderResponse" type="TransmitterACABulkBusinessHeaderResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <Component xmlns="urn:us:gov:treasury:irs:msg:acabusinessheader">
          <DictionaryEntryNm>ACA Business Header Response</DictionaryEntryNm>
          <MajorVersionNum>1</MajorVersionNum>
          <MinorVersionNum>0</MinorVersionNum>
          <VersionEffectiveBeginDt>2012-10-25</VersionEffectiveBeginDt>
          <VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
          <DescriptionTxt>The elements associated with a periodic data generated monthly report</DescriptionTxt>
        </Component>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="TransmitterACABulkBusinessHeaderResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <Component xmlns="urn:us:gov:treasury:irs:msg:acabusinessheader">
          <DictionaryEntryNm>Transmitter Manifest Request Type</DictionaryEntryNm>
          <MajorVersionNum>1</MajorVersionNum>
          <MinorVersionNum>1</MinorVersionNum>
          <VersionEffectiveBeginDt>2014-11-04</VersionEffectiveBeginDt>
          <VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
          <DescriptionTxt>Transmitter manifest detail type for 1094-1095B/C Forms Upstream</DescriptionTxt>
        </Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="air7.0:ACATransmitterBusinessHeaderResponse" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>